.promo {
    background: url('../img/bg-mimon.jpg'); 
    height: 480px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__icons {
        position: fixed;
        z-index: 99999;
        text-decoration: none;
        &_item {
            width: 65px;
            height: 65px;
            background-image: linear-gradient(135deg, #004380 0%, #002240 100%);
            margin: 2.5px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            cursor: pointer;
            border: none;
            right: 0;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            padding:5px;
            &:hover {
                right: 250px;
            }
            &:hover .promo__icons_descr {
                right: 0;
            }
            img {
                height: 25px;
            }
        }
        &_descr {
            position: fixed;
            height: 65px;
            right: -250px;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
            box-shadow:0 0 5px #777;
            background: #fbbb0e;
            width:225px;
            padding:10px;
            text-decoration: none;
            box-sizing:padding-box;
            display: flex;
            align-items: center;
            color: #003566;
            font-size: 20px;
            font-family: "Segoe UI";
            font-weight: 700;
            img {
                margin-right: 15px;
                margin-left: 5px;
            }
        }
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}