.news {
    min-height: 800px;
    &__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 44px;
    }
    &__block {
        border-radius: 10px;
        background-color: #182043;
        margin-right: 30px;
        height: 508px;
        z-index: 1;
        &:last-child {
            margin-right: 0;
        }
        img {
            width: 100%;
        }
        &:hover {
            transform: scale(1.05);
            transition: 0.6s all;
            cursor: pointer;
            box-shadow: 0 0 10px 2px rgba(0, 178 ,255,0.75);
        }
    }
    &__datum {
        color: #afabca;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        padding-top: 10px;
        padding-left: 16px;
    }
    &__title {
        color: #00ffd1;
        font-family: Roboto;
        font-size: 21px;
        font-weight: 700;
        padding-top: 2px;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__descr {
        color: #ffffff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-top: 10px;
        padding-left: 16px;
        padding-right: 16px;
    }
    &__up {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        padding-bottom: 30px;
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}