.title {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
}
.title-winners {
    padding-bottom: 30px;
}